.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(15%, auto));
    max-width: 100%;
    width: var(--max-width);
}

.card {
    cursor: pointer;
    padding: 2rem 1rem;
    text-align: center;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition:
            background 200ms,
            border 200ms;
    margin-bottom: 2rem;

}

.card h2 {
    font-size: 1.2rem;
    font-weight: 500;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .card:hover {
        background: rgba(var(--card-rgb), 0.1);
        border: 1px solid rgba(var(--card-border-rgb), 0.15);
    }
}

/* Mobile */
@media (max-width: 700px) {
    .content {
        padding: 4rem;
    }

    .grid {
        grid-template-columns: 1fr;
        margin-bottom: 120px;
        max-width: 320px;
        text-align: center;
    }

    .card {
        padding: 1rem 2.5rem;
    }

    .card h2 {
        margin-bottom: 0.5rem;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .main {
        display: block;
    }
    .grid {
        grid-template-columns: repeat(2, 50%);
    }
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}
